.background    { background: rgb(0, 128, 255);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(255, 51, 51); }
.wall          { background: white;   }

.actor  { position: absolute;  }
.player { background: rgb(128, 251, 0); }
.coin   { background: rgb(148, 209, 155); }
.gem   { background: rgb(212, 101, 114); }
.portIn	   { background: rgb(222, 112, 255);}


.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px white, 4px -7px 8px white;
}
